body    {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0%;
    margin: 0%;
    text-rendering: optimizeLegibility;
    animation: colchange 2s infinite;
    cursor: auto;
}

.container  {
    position: relative;
    top: 25px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.container  .dove   {
    display: inline-block;
    width: 100%;
    height: auto;
}

.container  .img    {
    text-align: center;
}

.container  .img    img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: double;
}

.container  .sente  {
    text-align: center;
}

.container  .sente  p   {
    font-size: 16px;
    font-family: monospace;
}

.container  .sente  p   span    {
    background-color: #fff;
}

.container  .links  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
}

.container  .links  a   {
    text-decoration: none;
    color: #000;
    width: 200px;
    height: auto;
    font-size: 16px;
    font-family: monospace;
    padding: 12px 14px;
    margin: 0 auto;
    border-style: double;
    border-radius: 100%;
}

.container  .links  a   i   {
    font-size: 16px;
}

.container  .links  a:hover   {
    cursor: pointer;
}


.footer    {
    position: relative;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
}

.footer   p   {
    font-size: 14px;
    font-family: monospace;
    color: #050505;
    padding: 12px 14px;
}

.this   {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #ff0 50%, #0f0 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.one    {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
  
.two    {
    animation-duration:5s;
}
  
@keyframes slide    {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}





@media only screen and (max-width: 319px)   {


    
}

@media only screen and (min-width: 320px) and (max-width: 479px)   {
    
}

@media only screen and (min-width: 480px) and (max-width: 599px)   {

}

@media only screen and (min-width: 600px) and (max-width: 767px)   {

}

@media only screen and (min-width: 768px) and (max-width: 991px)   {
    
}

@media only screen and (min-width: 992px) and (max-width: 1199px)   {
}

@media only screen and (min-width: 1200px)   {
    
   
    
}